
#sidebar {
    background-color: #2c3e50; 
    min-height: 100vh;
}

#sidebar .nav-link {
    color: #ecf0f1; 
}

#sidebar .nav-link.active {
    background-color: #34495e;
}


.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.25rem;
}
