<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - L Farma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesempleado.css"> 
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/productos">
                                <i class='bx bx-layer'></i>
                                Visualizar Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/productos/buscar-productos">
                                <i class='bx bx-search'></i>
                                Búsqueda de Productos
                            </a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/facturas/crear">
                                <i class='bx bx-receipt'></i>
                                Generación de Ventas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/facturas">
                                <i class='bx bx-chart'></i>
                                Visualización de Ventas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/clientes">
                                <i class='bx bx-group'></i>
                                Clientes
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard Empleado</h1>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="card text-white bg-info mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Clientes</h5>
                                <p class="card-text">${totalClientes}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-white bg-warning mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Proveedores</h5>
                                <p class="card-text">11</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Existencias</h5>
                                <p class="card-text">868</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Importe Pagado</h5>
                                <p class="card-text">$1405</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

